@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
header .head {
  display: flex;
  width: 80%;
  height: 6em;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}
header .head .leftHeader {
  display: flex;
  gap: 1em;
  height: 100%;
  justify-content: center;
  align-items: center;
}
header .head .leftHeader img {
  margin-right: 1rem;
  width: 40%;
  height: 1em;
  cursor: pointer;
}
header .head .leftHeader .contentBtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header .head .leftHeader .contentBtns .btnHeader {
  border: none;
  outline: none;
  max-width: 5em;
  background-color: transparent;
  cursor: pointer;
  color: hsl(219deg, 9%, 45%);
  height: 100%;
  border-bottom: 2px solid transparent;
}
header .head .leftHeader .contentBtns .btnHeader:hover {
  color: hsl(220deg, 13%, 13%);
  border-bottom: 2px solid hsl(26deg, 100%, 55%);
}
header .head .rightHeader > * {
  cursor: pointer;
}
header .head .rightHeader {
  display: flex;
  align-items: center;
  column-gap: 2em;
  justify-content: flex-end;
}
header .head .rightHeader #imgCart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .head .rightHeader #imgCart #cart:hover {
  filter: brightness(50%);
}
header .head .rightHeader #imgCart #itensInCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.1em;
  height: 0.8em;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 20em;
  position: absolute;
  bottom: 0.8em;
  left: 0.7em;
}
header .head .rightHeader #imgCart #itensInCart #quantifyInCart {
  color: white;
  font-size: 13px;
}
header .head .rightHeader #imgPerson {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.73em;
  height: 2.73em;
}
header .head .rightHeader #imgPerson:hover {
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 20em;
}
header .head .rightHeader #imgPerson #person {
  width: 2.5em;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Kumbh Sans";
}

main {
  width: 100%;
  height: auto;
}
main section {
  width: 100%;
  height: auto;
}
main section .firstSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 6em;
  align-items: center;
  margin-top: 3.5em;
  max-width: 90em;
}
main section .firstSection .leftFirstSection {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
main section .firstSection .leftFirstSection .mainImg {
  display: flex;
  justify-content: center;
}
main section .firstSection .leftFirstSection .mainImg img {
  width: 19em;
  height: auto;
  border-radius: 0.6em;
}
main section .firstSection .leftFirstSection .thumbnailsImg {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
main section .firstSection .leftFirstSection .thumbnailsImg .thumbnail > img {
  width: 3.8em;
  border: 2px solid transparent;
  border-radius: 0.4rem;
}
main section .firstSection .leftFirstSection .thumbnailsImg .thumbnail > img:hover {
  transition: 0.2s;
  border-color: hsl(26deg, 100%, 55%);
  filter: brightness(115%) contrast(90%);
}
main section .firstSection .rightFirstSection {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}
main section .firstSection .rightFirstSection .subTitle > * {
  color: hsl(26deg, 100%, 55%);
  font-weight: 700;
}
main section .firstSection .rightFirstSection .title > * {
  font-size: 1.7em;
  font-weight: 700;
}
main section .firstSection .rightFirstSection .text {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
  color: hsl(219deg, 9%, 45%);
  font-family: "Arial";
  max-width: 26.4em;
}
main section .firstSection .rightFirstSection .values {
  display: flex;
  flex-wrap: wrap;
  max-width: 10em;
  column-gap: 1em;
  row-gap: 0.5em;
  align-items: center;
}
main section .firstSection .rightFirstSection .values .mainValue {
  font-weight: 700;
  font-size: 1.5em;
}
main section .firstSection .rightFirstSection .values .discountAmount {
  display: flex;
  justify-content: center;
  width: 2.5em;
  border-radius: 0.2rem;
  background-color: hsl(25deg, 100%, 94%);
  color: hsl(26deg, 100%, 55%);
  font-weight: 700;
  font-size: 0.9em;
}
main section .firstSection .rightFirstSection .values .valueWithoutDiscount {
  color: hsl(220deg, 14%, 75%);
}
main section .firstSection .rightFirstSection .itemQuantityBtns {
  display: flex;
  align-items: center;
  column-gap: 2.5em;
  cursor: default;
}
main section .firstSection .rightFirstSection .itemQuantityBtns .so_so {
  display: flex;
  align-items: center;
  cursor: pointer;
}
main section .firstSection .rightFirstSection .itemQuantityBtns .so_so > *:hover {
  filter: brightness(145%) contrast(90%);
}
main section .firstSection .rightFirstSection .itemQuantityBtns .btnAddCart {
  background-color: hsl(26deg, 100%, 55%);
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 2.5rem;
  border-radius: 0.5em;
  column-gap: 0.4em;
  font-size: 0.8em;
  cursor: pointer;
}
main section .firstSection .rightFirstSection .itemQuantityBtns .btnAddCart:hover {
  transition: 0.2s;
  background-color: hsl(26deg, 100%, 66%);
}
main section .firstSection .rightFirstSection .itemQuantityBtns .btnAddCart > img {
  width: 1.2em;
}

.containerImgs {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.containerImgs .contentMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: relative;
  width: 100%;
  row-gap: 1em;
}
.containerImgs .contentMain .closeImg {
  position: relative;
  left: 10.5em;
}
.containerImgs .contentMain .closeImg > img {
  width: 1.2em;
  cursor: pointer;
}
.containerImgs .contentMain .mainImgCarousel img {
  width: 22em;
  border-radius: 0.7em;
}
.containerImgs .contentMain .arrowImg {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  top: 41%;
}
.containerImgs .contentMain .arrowImg .leftArrow {
  position: relative;
  right: 10em;
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.containerImgs .contentMain .arrowImg .leftArrow > img {
  width: 1.2em;
}
.containerImgs .contentMain .arrowImg .rightArrow {
  position: relative;
  left: 10em;
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.containerImgs .contentMain .arrowImg .rightArrow > img {
  width: 1.2em;
  transform: rotate(180deg);
}
.containerImgs .contentMain .thumbnailsContent {
  display: flex;
  column-gap: 1em;
}
.containerImgs .contentMain .thumbnailsContent img {
  width: 3.8em;
  border: 2px solid transparent;
  border-radius: 0.4rem;
}
.containerImgs .contentMain .thumbnailsContent img:hover {
  transition: 0.2s;
  border-color: hsl(26deg, 100%, 55%);
  filter: brightness(115%) contrast(90%);
}
.containerImgs .backgroundBlack {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 0;
}

/*# sourceMappingURL=style.css.map */
