*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Kumbh Sans';
}

header{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  .head{
    display: flex;
    width: 80%;
    height: 6em;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $GrayishBlue;
    .leftHeader{
      display: flex;
      gap: 1em;
      height: 100%;
      justify-content: center;
      align-items: center;
      img{
        margin-right: 1rem;
        width: 40%;
        height: 1em;
        cursor: pointer;
      }
      .contentBtns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .btnHeader{
          border: none;
          outline: none;
          max-width: 5em;
          background-color: transparent;
          cursor: pointer;
          color: $DarkGrayisBlue;
          height: 100%;
          border-bottom: 2px solid transparent;
          &:hover{
            color: $VeryDarkBlue;
            border-bottom: 2px solid $Orange;
          }
        }
      }
    }
    .rightHeader > * {
      cursor: pointer;
    }
    .rightHeader{
      display: flex;
      align-items: center;
      column-gap: 2em;
      justify-content: flex-end;
      #imgCart{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        #cart{
          &:hover{
            filter: brightness(50%);
          }
        }
        #itensInCart{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.1em;
          height: 0.8em;
          background-color: $Orange;
          border-radius: 20em;
          position: absolute;
          bottom: 0.8em;
          left: 0.7em;
          #quantifyInCart{
            color: white;
            font-size: 13px;
          }
        }
      }
      #imgPerson {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.73em;
        height: 2.73em;
        &:hover{
          background-color: $Orange;
          border-radius: 20em;
        }
        #person{
          width: 2.5em;
          height: auto;
        }
      }
    }
  }
}
main{
  width: 100%;
  height: auto;
  section{
    width: 100%;
    height: auto;
    .firstSection{
      display: flex;
      flex-direction: row;
      justify-content: center;
      column-gap: 6em;
      align-items: center;
      margin-top: 3.5em;
      max-width: 90em;
      .leftFirstSection{
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        .mainImg{
          display: flex;
          justify-content: center;
            img{
            width: 19em;
            height: auto;
            border-radius: 0.6em;
          }
        }
        .thumbnailsImg{
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          .thumbnail > img{
            width: 3.8em;
            border: 2px solid transparent;
            border-radius: 0.4rem;
            &:hover{
              transition: 0.2s;
              border-color: $Orange;
              filter: brightness(115%) contrast(90%);
            }
          }
        }
      }
      .rightFirstSection{
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
        .subTitle > *{
          color: $Orange;
          font-weight: 700;
        }
        .title > *{
            font-size: 1.7em;
            font-weight: 700;
        }
        .text{
          padding-top: 1em;
          padding-bottom: 1em;
          font-size: 1em;
          color: $DarkGrayisBlue;
          font-family: 'Arial';
          max-width: 26.4em;
        }
        .values{
          display: flex;
          flex-wrap: wrap;
          max-width: 10em;
          column-gap: 1em;
          row-gap: 0.5em;
          align-items: center;
          .mainValue{
            font-weight: 700;
            font-size: 1.5em;
          }
          .discountAmount{
            display: flex;
            justify-content: center;
            width: 2.5em;
            border-radius: 0.2rem;
            background-color: $PaleOrange;
            color: $Orange;
            font-weight: 700;
            font-size: 0.9em;
          }
          .valueWithoutDiscount{
            color: $GrayishBlue;
          }
        }
        .itemQuantityBtns{
          display: flex;
          align-items: center;
          column-gap: 2.5em;
          cursor: default;
          .so_so{
            display: flex;
            align-items: center;
            cursor: pointer;
          }
          .so_so > *{
            &:hover{
              filter: brightness(145%) contrast(90%);
            }
          }
          .btnAddCart{
            background-color: $Orange;
            color: white;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            height: 2.5rem;
            border-radius: 0.5em;
            column-gap: 0.4em;
            font-size: 0.8em;
            cursor: pointer;
            &:hover{
              transition: 0.2s;
              background-color: hsl(26, 100%, 66%);
            }
          }
          .btnAddCart > img{
            width: 1.2em;
          }
        }
      }
    }
  }
}