@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Kumbh Sans';
}
//Primary Colors
$Orange: hsl(26, 100%, 55%);
$PaleOrange: hsl(25, 100%, 94%);
//neutral colors
$VeryDarkBlue: hsl(220, 13%, 13%);
$DarkGrayisBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);

header{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  .head{
    display: flex;
    width: 80%;
    height: 6em;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $GrayishBlue;
    .leftHeader{
      display: flex;
      gap: 1em;
      height: 100%;
      justify-content: center;
      align-items: center;
      img{
        margin-right: 1rem;
        width: 40%;
        height: 1.1em;
        cursor: pointer;
      }
      .contentBtns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .btnHeader{
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: $DarkGrayisBlue;
          height: 100%;
          border-bottom: 2px solid transparent;
          &:hover{
            color: $VeryDarkBlue;
            border-bottom: 2px solid $Orange;
          }
        }
      }
    }
    .rightHeader > * {
      cursor: pointer;
    }
    .rightHeader{
      display: flex;
      align-items: center;
      column-gap: 2em;
      justify-content: flex-end;
      #imgCar{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        #car{
          &:hover{
            filter: brightness(50%);
          }
        }
        #itensInCar{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.1em;
          height: 0.8em;
          background-color: $Orange;
          border-radius: 20em;
          position: absolute;
          bottom: 0.8em;
          left: 0.7em;
          #quantifyInCar{
            color: white;
            font-size: 13px;
          }
        }
      }
      #imgPerson {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.73em;
        height: 2.73em;
        &:hover{
          background-color: $Orange;
          border-radius: 20em;
        }
        #person{
          width: 2.5em;
          height: auto;
        }
      }
    }
  }
}